{% extends 'baseBack.html.twig' %}


{% block content %}

<div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">StoreHouse Management</h1>
                <a href="{{ path('app_store_house_new') }}" class="btn btn-sm btn-secondary"><i class="fas fa-plus"></i> Create New</a>

</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
                    <thead class="table-success">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Capacity</th>
                            <th>Quantity Sum</th>
                            <th>Is Full</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for storeHouse in store_houses %}
                            <tr>
                                <td>{{ storeHouse.idSh }}</td>
                                <td>{{ storeHouse.nameSh }}</td>
                                <td>{{ storeHouse.locationSh }}</td>
                                <td>{{ storeHouse.capacity }}</td>
                                <td>{{ storeHouse.quantitySum }}</td>
                                <td class="text-center">
                                    <span class="badge {{ storeHouse.isFull ? 'bg-danger' : 'bg-success' }}">
                                        {{ storeHouse.isFull ? 'Yes' : 'No' }}
                                    </span>
                                </td>
                                <td style="width: 200px;" class="text-center">
                                    <a href="{{ path('app_store_house_show', {'idSh': storeHouse.idSh}) }}" class="btn btn-sm btn-secondary" title="Show">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>
                                    </a>
                                    <a href="{{ path('app_store_house_edit', {'idSh': storeHouse.idSh}) }}" class="btn btn-sm btn-primary" title="Edit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                        </svg>
                                    </a>
                                    <form action="{{ path('app_store_house_delete', {'idSh': storeHouse.idSh}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this storehouse?');" style="display: inline;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ storeHouse.idSh) }}">
                                        <button type="submit" class="btn btn-sm btn-danger" title="Delete">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                            </svg>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
</div>
{% block stylesheets %}
    <style>
        /* Style pour la pagination */
        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            border: none; /* Ajout de cette ligne pour rendre la bordure transparente */
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            color: #555;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            border: none; /* Ajout de cette ligne pour rendre la bordure transparente */
        }

        .pagination a:hover {
            background-color: #f0f0f0;
        }

        .pagination .active a {
            background-color: #D4EDDA;
            color: #fff;
        }

        .pagination .disabled a {
            pointer-events: none;
            opacity: 0.6;
        }
    </style>
{% endblock %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4 custom-pagination"> <!-- Utilisation de votre propre classe custom-pagination -->
        <li class="page-item disabled">
            <span class="page-link custom-link text-dark">Previous</span>
        </li>
        <li class="page-item active "><a class="page-link custom-link text-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link custom-link text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link custom-link text-dark" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link custom-link text-dark" href="#">Next</a>
        </li>
    </ul>
</nav>
</div></div>
</div>

{% endblock %}
