{% extends 'baseBack.html.twig' %}

{% block title %}New Order{% endblock %}

{% block content %}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" style="background-color: #D4EDDA;">
                                <br><h2 class="mb-0">New Order</h2>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {{ form_widget(form._token) }}
                                    <div class="mb-3">
                                        {{ form_label(form.quantityO, 'Quantity') }}
                                        {{ form_widget(form.quantityO, {'attr': {'class': 'form-control'}}) }}
                                        {% if form_errors(form.quantityO) %}
                                            <div class="text-danger">{{ form_errors(form.quantityO) }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-3">
                                        {{ form_label(form.stock, 'Stock') }}
                                        {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
                                        {% if form_errors(form.stock) %}
                                            <div class="text-danger">{{ form_errors(form.stock) }}</div>
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                    <a href="{{ path('app_our_order_index') }}" class="btn btn-secondary">Cancel</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
