{% extends 'baseBack.html.twig' %}

{% block title %}Complaint index{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Complaint List</h1>
        <a href="{{ path('app_complaint_new') }}" class="btn btn-sm btn-secondary"><i class="fas fa-plus"></i> Create New</a>
    </div>
    <nav class="app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All Complaints</a>
    </nav>

    <table class="table table-bordered table-hover">
     <thead class="table-success">
    <tr>
        {# <th>Id</th> #}
        <th>
            <a href="{{ path('app_complaint_index', {'sort': 'userId'}) }}">
                User_id
            </a>
        </th>
        <th>
            <a href="{{ path('app_complaint_index', {'sort': 'title'}) }}">
                Title
            </a>
        </th>
        {# <th>Description</th> #}
        <th>
            <a href="{{ path('app_complaint_index', {'sort': 'location'}) }}">
                Location
            </a>
        </th>
        <th>
            <a href="{{ path('app_complaint_index', {'sort': 'submissionDate'}) }}">
                SubmissionDate
            </a>
        </th>
        {# <th>Picture</th> #}
        <th>
            <a href="{{ path('app_complaint_index', {'sort': 'status'}) }}">
                Status
            </a>
        </th>
        <th>Actions</th>
    </tr>
</thead>

        <tbody>
            {% for complaint in complaints %}
    <tr>
        {# <td>{{ complaint.id }}</td> #}
        <td>{{ complaint.userId }}</td>
        <td>{{ complaint.title }}</td>
{# <td style="max-width:200px; word-wrap:break-word;">{{ complaint.description }}</td> #}
        <td>{{ complaint.location }}</td>
        <td>{{ complaint.submissionDate ? complaint.submissionDate|date('Y-m-d') : '' }}</td>
        {# <td>{{ complaint.picture }}</td> #}
        <td>{{ complaint.status }}</td>
        <td>
            <a href="{{ path('app_complaint_show', {'id': complaint.id}) }}" class="btn btn-sm btn-secondary">Show</a>
            <a href="{{ path('app_complaint_edit', {'id': complaint.id}) }}" class="btn btn-sm btn-primary">Edit</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="9">No records found</td>
    </tr>
{% endfor %}
        </tbody>
    </table>

   <div class="d- flex justify-content-center">
{{knp_pagination_render(complaints,'base/pagination.html.twig')}}
    </div>

{% endblock %}
