{% extends 'waste/index.html.twig' %}

{% block body %}
   
    
        <span>
         <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Table of Truck {{ truck.id }}</h1>
				    </div>
<div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
                
    

<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
                            
							    <div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
                                    
										<thead>
											
          
            <tr>
                <th>Matricule</th>
                <td>{{ truck.matricule }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ truck.disponibilite }}</td>
            </tr>
            </tbody>
    </table>
<td>
        <a href="{{  path('app_truck_edit', {'id': truck.id}) }}"class="badge bg-warning">Edit</a>
    
    <a href="{{ path('app_truck_index') }}" class="badge bg-success">back to list</a>

    {{ include('truck/_delete_form.html.twig') }}
	</td>
     </div><!--//table-responsive-->
                                
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
						<!--<nav class="app-pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							    </li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								    <a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav>-->
						
			        </div><!--//tab-pane-->    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->  
           {% endblock %}
                             