{% extends 'baseBack.html.twig' %}

{% block title %}Edit Stock{% endblock %}

{% block stylesheets %}
    <style>
        /* Your styles here */
    </style>
{% endblock %}

{% block content %}
<div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" style="background-color: #D4EDDA;">
                    <h2 class="mb-0">Edit Stock</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form._token) }}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{ form_label(form.name_st, 'Name') }}</td>
                                <td>
                                    {{ form_widget(form.name_st) }}
                                    {% if form_errors(form.name_st) %}
                                        <div class="text-danger">{{ form_errors(form.name_st) }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.quantity_st, 'Quantity') }}</td>
                                <td>
                                    {{ form_widget(form.quantity_st) }}
                                    {% if form_errors(form.quantity_st) %}
                                        <div class="text-danger">{{ form_errors(form.quantity_st) }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.buying_price, 'Buying Price') }}</td>
                                <td>
                                    {{ form_widget(form.buying_price) }}
                                    {% if form_errors(form.buying_price) %}
                                        <div class="text-danger">{{ form_errors(form.buying_price) }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.selling_price, 'Selling Price') }}</td>
                                <td>
                                    {{ form_widget(form.selling_price) }}
                                    {% if form_errors(form.selling_price) %}
                                        <div class="text-danger">{{ form_errors(form.selling_price) }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.storehouse, 'Storehouse') }}</td>
                                <td>
                                    {{ form_widget(form.storehouse) }}
                                    {% if form_errors(form.storehouse) %}
                                        <div class="text-danger">{{ form_errors(form.storehouse) }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form_label(form.image_st, 'Image') }}</td>
                                <td>
                                    {{ form_widget(form.image_st, { 'attr': {'class': 'form-control'} }) }}
                                    {% if form_errors(form.image_st) %}
                                                        <div class="text-danger">{{ form_errors(form.image_st) }}</div>
                                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-warning">{{ button_label|default('Update') }}</button>
                            <div class="ms-2">
                                <a href="{{ path('app_stock_index') }}" class="btn btn-secondary">Back to List</a>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

        </div>
    </div>
</div>
{% endblock %}
