{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>Stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSt</th>
                <td>{{ stock.idSt }}</td>
            </tr>
            <tr>
                <th>Name_st</th>
                <td>{{ stock.nameSt }}</td>
            </tr>
            <tr>
                <th>Quantity_st</th>
                <td>{{ stock.quantitySt }}</td>
            </tr>
            <tr>
                <th>Date_d_ajout_st</th>
                <td>{{ stock.dateDAjoutSt ? stock.dateDAjoutSt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_derniere_mise_a_jour_st</th>
                <td>{{ stock.dateDerniereMiseAJourSt ? stock.dateDerniereMiseAJourSt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut_st</th>
                <td>{{ stock.statutSt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_index') }}">back to list</a>

    <a href="{{ path('app_stock_edit', {'idSt': stock.idSt}) }}">edit</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
