{% extends 'baseBack.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Users List</h1>
   <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0"></h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <form class="table-search-form row gx-1 align-items-center" id="search-form">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form>
					                
							    </div><!--//col-->
							  
							    <div class="col-auto">						    
								    <a class="btn app-btn-secondary" href="{{path('app_user_pdf')}}">
									   <svg style="color: red; width: 28px; height: 28px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
  <path d="M64 464l48 0 0 48-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 304l-48 0 0-144-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z" fill="red"></path>
</svg>

									   Export Users
									</a>
							    </div>
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row-->
</div>
<nav class="app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
    <a class="flex-sm-fill text-sm-center nav-link "   href="{{path('app_user_index')}}" role="tab" aria-controls="orders-all" >Admins</a>
    <a class="flex-sm-fill text-sm-center nav-link active"   href="{{path('app_user_index_supp')}}" role="tab" aria-controls="orders-paid" >Suppliers</a>
    <a class="flex-sm-fill text-sm-center nav-link "   href="{{path('app_user_index_client')}}" role="tab" aria-controls="orders-pending" >Clients</a>
    <a class="flex-sm-fill text-sm-center nav-link "   href="{{path('app_user_index_driver')}}" role="tab" aria-controls="orders-cancelled">Drivers</a>
        <a class="flex-sm-fill text-sm-center nav-link"   href="{{path('app_user_index_users')}}" role="tab" aria-controls="orders-cancelled">Users</a>

</nav>

<div class="table-responsive">
    <table class="table table-bordered table-hover"  id="user-table">
        <thead class="table-success"> <!-- Modification: changer la couleur en vert -->
            <tr>
              <th>Image</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Role</th>
                <th>Is Banned</th>
                <th>Is Verified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                <td><img src="{{ asset(user.ImagePath) }}" alt="User Image" class="img-thumbnail" width="80" height="50"></td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.UserName }}</td>
                    <td>{{ user.ddn }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{% if user.isBanned == 1 %}<span class="badge bg-danger">Yes{% else %}<span class="badge bg-success">No{% endif %}</td>
                    <td>{% if user.isVerified == 1 %}<span class="badge bg-success">Yes{% else %}<span class="badge bg-danger">No{% endif %}</td>
                     <td style="width: 200px;" class="text-center">
                                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-sm btn-secondary" title="Show">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>
                                    </a>
                        
                        <a href="{{ path('edit_password', {'id': user.id}) }}" class="btn btn-sm btn-warning" title="Edit Password">
    <svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" style="color: black" role="img" viewBox="0 0 24 24">
        <path d="M12 0C5.378 0 0 5.378 0 12c0 6.623 5.378 12 12 12 6.623 0 12-5.377 12-12 0-6.622-5.377-12-12-12zm0 .791a11.203 11.203 0 0 1 11.209 11.21A11.202 11.202 0 0 1 12 23.208 11.203 11.203 0 0 1 .791 12 11.203 11.203 0 0 1 12.001.791zm0 1.871a9.356 9.356 0 0 0-1.705.162A1.746 1.746 0 0 0 12 4.95a1.746 1.746 0 0 0 1.706-2.126A9.342 9.342 0 0 0 12 2.662zM7.2 4a9.338 9.338 0 0 0-4.54 8 9.338 9.338 0 0 0 18.677 0 9.338 9.338 0 0 0-4.54-7.998 4.888 4.888 0 0 1-2.701 5.365l-.12 2.066 1.482 1.483-1.483 1.482.989.989-.989.988.12 1.857L12 20.328l-2.096-2.096V9.367A4.89 4.89 0 0 1 7.2 4zm3.4 6.543v6.99h.7v-6.99z" fill="white"/>
    </svg>
    
</a>

                       <a href="{{ path('confirm_role', {'id': user.id}) }}" class="btn btn-primary" title="Assign Role">
    <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" fill="white"></path>
        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" fill="white"></path>
    </svg>
</a>
<hr>
{% if user.isBanned == 0 %}
    <a href="{{ path('app_user_ban_S', {'id': user.id}) }}" class="btn btn-danger btn-sm rounded-pill py-1 px-3"
       onclick="return confirm('Are you sure you want to ban this user?');">
        <i class="fas fa-ban mr-2"></i>Ban User
    </a>
{% endif %}

{% if user.isBanned == 1 %}
    <a href="{{ path('app_user_unban_S', {'id': user.id}) }}" class="btn btn-danger btn-sm rounded-pill py-1 px-3"
       onclick="return confirm('Are you sure you want to unban this user?');">
        <i class="fas fa-ban mr-2"></i>Unban User
    </a>
{% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" class="text-center">No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#search-form').submit(function(event) {
        event.preventDefault();
        var searchTerm = $('#search-orders').val();

        $.ajax({
            url: '{{ path('search_users_supp') }}',
            method: 'GET',
            data: { searchTerm: searchTerm },
            success: function(response) {
                // Clear existing table body
                $('#user-table tbody').empty();

                // Iterate over the response data and append new rows to the table
                $.each(response, function(index, user) {
                    console.log(response);
                    var imageUrl = '{{ asset('') }}' + user.ImagePath;
                    var row = '<tr>' +
                                '<td><img src="' + imageUrl + '" alt="User Image" class="img-thumbnail" width="80" height="50"></td>' +
                                '<td>' + user.name + '</td>' +
                                '<td>' + user.LastName + '</td>' +
                                '<td>' + user.username + '</td>' +
                                '<td>' + user.ddn + '</td>' +
                                '<td>' + user.email + '</td>' +
                                '<td>' + user.role + '</td>' +
                                '<td>' + (user.isBanned ? '<span class="badge bg-danger">Yes</span>' : '<span class="badge bg-success">No</span>') + '</td>' +
                                '<td>' + (user.IsVerified ? '<span class="badge bg-success">Yes</span>' : '<span class="badge bg-danger">No</span>') + '</td>' +
                                // Add more columns as needed
                                '<td style="width: 200px;" class="text-center">' +
                                     '<a href="/user/' + user.id + '" class="btn btn-sm btn-secondary" title="Show">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">' +
                                            '<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>' +
                                            '<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>' +
                                        '</svg>' +
                                    '</a>' +
                                     '<a href="/user/' + user.id + '/editPassword"  class="btn btn-sm btn-warning" title="Edit Password">' +
                                        '<svg xmlns="http://www.w3.org/2000/svg"  width="20" height="20" style="color: black" role="img" viewBox="0 0 24 24">' +
                                            '<path d="M12 0C5.378 0 0 5.378 0 12c0 6.623 5.378 12 12 12 6.623 0 12-5.377 12-12 0-6.622-5.377-12-12-12zm0 .791a11.203 11.203 0 0 1 11.209 11.21A11.202 11.202 0 0 1 12 23.208 11.203 11.203 0 0 1 .791 12 11.203 11.203 0 0 1 12.001.791zm0 1.871a9.356 9.356 0 0 0-1.705.162A1.746 1.746 0 0 0 12 4.95a1.746 1.746 0 0 0 1.706-2.126A9.342 9.342 0 0 0 12 2.662zM7.2 4a9.338 9.338 0 0 0-4.54 8 9.338 9.338 0 0 0 18.677 0 9.338 9.338 0 0 0-4.54-7.998 4.888 4.888 0 0 1-2.701 5.365l-.12 2.066 1.482 1.483-1.483 1.482.989.989-.989.988.12 1.857L12 20.328l-2.096-2.096V9.367A4.89 4.89 0 0 1 7.2 4zm3.4 6.543v6.99h.7v-6.99z" fill="white"/>' +
                                        '</svg>' +
                                    '</a>' +
                                     '<a href="/user/' + user.id + '/confirmRole" class="btn btn-primary" title="Assign Role">' +
                                        '<svg  style="color: white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">' +
                                            '<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" fill="white"/>' +
                                            '<path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" fill="white"/>' +
                                        '</svg>' +
                                    '</a>' +
                                    
                                    // Add other actions buttons
                                '</td>' +
                              '</tr>';
                    $('#user-table tbody').append(row);
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    });
})
</script>
{% block stylesheets %}
    <style>
        /* Style pour la pagination */
        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            border: none; /* Ajout de cette ligne pour rendre la bordure transparente */
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            color: #555;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            border: none; /* Ajout de cette ligne pour rendre la bordure transparente */
        }

        .pagination a:hover {
            background-color: #f0f0f0;
        }

        .pagination .active a {
            background-color: #D4EDDA;
            color: #fff;
        }

        .pagination .disabled a {
            pointer-events: none;
            opacity: 0.6;
        }
    </style>
{% endblock %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4 custom-pagination"> <!-- Utilisation de votre propre classe custom-pagination -->
        <li class="page-item disabled">
            <span class="page-link custom-link text-dark">Previous</span>
        </li>
        <li class="page-item active "><a class="page-link custom-link text-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link custom-link text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link custom-link text-dark" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link custom-link text-dark" href="#">Next</a>
        </li>
    </ul>
</nav>

{% endblock %}
